.button { cursor: pointer; }

.girdle_hidden {
  /*height: 0px;*/
  overflow: hidden;
};

.button .girdle_hidden { margin-left: 1em; }

.girdle_right { float: right; }

.slidedown {
  animation-duration: 1s;
  animation-name: slidedown;
  -webkit-animation-duration: 1s;
  -webkit-animation-name: slide;
}

@-webkit-keyframes slide {
  from {
    padding-left: 20px;
  }
  to {
    padding-left: 0px;
  }
}
